.link {
  text-decoration: none;
  color: hsla(0, 0%, 0%, 0.8);
}

.post {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
  max-width: 100vw;
}

.post__header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 30px;
}

.post__title {
  margin: 0 0;
}

.post__image {
  max-width: 100%;
}

@media only screen and (max-width: 400px) {
  .post__header {
    padding: 0 5px;
  }
}
