.layout {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content {
  display: flex;
  flex-direction: column;
}

.footer {
  color: grey;
  font-size: 0.8rem;
}
