.layout {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  text-decoration: none;
  color: hsla(0, 0%, 0%, 0.8);
}

.content {
  display: flex;
  flex-direction: column;
}

.footer {
  color: grey;
  font-size: 0.8rem;
}
